       span{
            color:blue;
        }
        .i{
            width:100px;
            height:100px;
        }
        .k{
            width:150px;
            height:100px;
        }
        .s{
            float:right;
            margin-left:170px;
            margin-right:900px;
            margin-top:-110px;
           
        }
        .c{
            width:150px;
            height:100px;
            margin-left:240px;
        }
        .d{
            margin-right:450px;
            margin-left:570px;
            margin-top:-110px;
        }